cryptography==3.2.1
pyflakes
py2app
macholib
modulegraph
flake8
coverage
wheel
robotpy[all]
pyntcore==2025.*

#robotpy[ctre,navx,rev,sim,pathplannerlib,photonvision,playingwithfusion] == 2024.*

# If installed on OSX (joystick support) it seems to fail?
pyfrc == 2025.*
robotpy-halsim-gui

raptacon3200
