cryptography==3.2.1
pyflakes
py2app
macholib
modulegraph
flake8
coverage
wheel
robotpy[all]
pyntcore

#robotpy[ctre,navx,rev,sim,pathplannerlib,photonvision,playingwithfusion] ==

# If installed on OSX (joystick support) it seems to fail?

raptacon3200
